<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>GeoColeta</title>
    <meta name="description" content="GeoColeta: um Sistema de Informação Geográfica para gerência e incentivo ao Processo de Coleta Seletiva">
    <meta name="keywords" content="geocoleta, coleta seletiva, geolocalização, instituto federal, barbacena">
    <meta property="og:image" content="/static/img/ti.jpg">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="cleartype" content="on">   

    <link rel="stylesheet" href="/static/css/lungo/lungo.min.css">
    <link rel="stylesheet" href="/static/css/lungo.theme.style.min.css">
    <link rel="stylesheet" href="/static/css/lungo/lungo.icon.css" >
    <link rel="icon" href="/static/img/favicon.ico">
</head>

<body>
    <aside id="main_menu">
        <header id="header_menu" data-title="Ferramentas"></header>
        <article id="article_menu" class="list scroll active">
            <ul>
                <li data-icon="circle-blank">   
                    <a href="#" id="opt_centralizar">                 
                        <strong>Centralizar posição</strong>
                        <small>Ou arraste para alterar</small>                    
                    </a>
                </li>

                <li data-icon="building">
                    <a href="#" id="opt_infra">
                        <div class="tag on-right">{{ locais|length|default:0 }}</div>
                        <strong>Infraestrutura</strong>
                    </a>
                </li>

                <li data-icon="trash">
                    <a href="#" id="opt_coletores">
                        <div class="tag on-right">{{ coletores|length|default:0 }}</div>
                        <strong>Coletores</strong>
                    </a>
                </li>
                
                <li data-view-article="anchor" class="sep">
                    <small>Estatísticas do aplicativo</small>
                </li>

                
                <li data-icon="map-marker">
                    <a href="#" id="opt_rel_descartes">
                        <strong id="txt_desc">Descartes</strong>
                        <small>Requisições realizadas</small>                    
                    </a>
                </li>

                <li data-icon="bar-chart">
                    <a href="#" id="opt_rel_coletores">
                        <strong>Coleta Seletiva</strong>
                        <small>Utilização dos coletores</small>                    
                    </a>
                </li>
                
                <li data-view-article="anchor" class="sep">
                    <small>Compartilhar</small>
                </li>
                
                <li data-icon="facebook-sign">
                    <a href="https://www.facebook.com/sharer.php?u=http://geocoleta.org" target="_blank">
                        Facebook                    
                    </a>
                </li>
                
                <li data-icon="twitter-sign">
                    <a href="https://twitter.com/intent/tweet?source=tweetbutton&text=Estou contribuindo com o processo de coleta seletiva no IF Barbacena&url=http://geocoleta.org" target="_blank">
                        Twitter
                    </a>
                </li>
                
                <li data-icon="google-plus-sign">
                    <a href="https://plus.google.com/share?url=geocoleta.org" target="_blank">
                        Google+
                    </a>
                </li>

                <li style="margin-top: 20px" data-view-article="anchor" data-icon="info-sign">
                    <a href="http://www.barbacena.ifsudestemg.edu.br/conteudo/geocoleta" target="_blank">
                        Sobre o projeto                    
                    </a>
                </li>
            </ul>
        </article>
    </aside>

    <section id="main" data-transition="slide" data-aside="main_menu" class="drag">
        <header>
            <nav>
                <a href="#" data-view-aside="main_menu" data-icon="menu"></a>
            </nav>
            <h1 class="title centered"><span style="font-weight: bold">Geo</span>Coleta</h1>
            <nav class="on-right">
                <a href="http://www.barbacena.ifsudestemg.edu.br/conteudo/geocoleta" target="_blank"><abbr class="text tiny">v0.1.1</abbr></a>
            </nav>
        </header>

        <article id="main-article" class="list indenteds">
                
            <div class="form ocultar_h">
                <fieldset id="fieldset_infra">
                    <label for="btn_infra" class="anchor">
                        <strong>Infraestrutura do </strong> <span style="font-weight: bold">{{ instituicao }}</span>
                    </label>
                    <input id="btn_infra" type="checkbox" class="inline right" checked="checked" />
                </fieldset>
            </div>         
            
            <div id="map-canvas"></div>

        </article>
               
        <footer id="main_footer">
            <nav id="descarte">
                {% for tipo in tipos %}
                    <a href="#" id="res_{{ tipo.id }}" class="res_{{ tipo.id }}">{{ tipo.tipo }}</a>
                {% endfor %}
            </nav>
        </footer>
    </section>


    <script src="/static/js/quo.lungo.min.js"></script>

    <script>
        Lungo.init({
            name: 'GeoColeta',
            version: '0.1.1',
            history: false
        });
    </script>

    <script src="http://maps.googleapis.com/maps/api/js?key={{ api_key }}&sensor=true"></script>

    <script>
        coletores = {
            {% for coletor in coletores|dictsort:"descricao" %}
                '{{ coletor.id }}': [{{ coletor.latitude|floatformat:6 }}, {{ coletor.longitude|floatformat:6 }}, '{{ coletor.descricao }}',
                    [{% for tipo in coletor.tipo.all %}
                        '{{ tipo.tipo }}'{% if not forloop.last %}, {% endif %}
                    {% endfor %}]
                ]{% if not forloop.last %}, {% endif %}
            {% empty %}
                'vazio': true
            {% endfor %}
        };
    
        locais = {
            {% for local in locais %}
                '{{ local.id }}': ['{{ local.nome }}', {{ local.coordenadas }}]{% if not forloop.last %}, {% endif %}
            {% empty %}
                'vazio': true
            {% endfor %}
        };
    </script>

    <script src="/static/js/jquery.script.min.js?v=6"></script>
    <script src="/static/js/highcharts.js"></script>
    <img src="/static/img/loading.gif" alt="Carregando" style="display:none">
</body>
</html>
