{% extends 'base.html' %}
{% block cabecalho %}
	<title>Coletas</title>
	<script type="text/javascript" src="medias/highcharts/js/highcharts.js"></script>
	<script type="text/javascript" src="medias/highcharts/js/modules/exporting.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			var conteudo = document.getElementById("highcharts");
			$('.localColeta').click(function() {
				$.get("/coletas", {id : this.id}, function(data) { 
					var json = JSON.parse(data);

					chart = new Highcharts.Chart({
			            chart: {
			                renderTo: 'chart'
			            },
			            title: {
			                text: 'Gráfico de Uso'
			            },
			            yAxis: {
			            	name: 'teste'
			            },
			            xAxis: {
			                categories: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado']
			            },
			            series: [{
			                type: 'column',
			                name: 'Papel',
			                data: json['Papel']
			            }, {
			                type: 'column',
			                name: 'Plástico',
			                data: json['Plastico']
			            }, {
			                type: 'column',
			                name: 'Metal',
			                data: json['Metal/Vidro']
			            },{
			                type: 'column',
			                name: 'Orgânico',
			                data: json['Organico']
			            },{
			                type: 'column',
			                name: 'Não reciclável',
			                data: json['Nao Reciclavel']
			            },{
			                type: 'spline',
			                name: 'Total',
			                data: json['soma'],
			                marker: {
			                	lineWidth: 2,
			                	lineColor: Highcharts.getOptions().colors[3],
			                	fillColor: 'white'
			                }
			            }]
			        });
				});
			});
		});
	</script>
{% endblock %}

{% block corpo %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> 
            </a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li>
                        <a href="home" title="Página Inicial">Home</a>
                    </li>

                    <li>
                        <a href="/mapa" title="Mapa GeoColeta">Mapa</a>
                    </li>
                    <li class="active">
                        <a href="/coletas" title="Coletas">Coletas</a>
                    </li>
				</ul>
				<form class="navbar-form pull-right" method="POST" action="">
					{% csrf_token %}
					{{ formFiltro.periodo }}
					<button class="btn" id="btt_filtrar" type="submit">Filtrar</button>
				</form>
            </div>
        </div>
    </div>
</div>

<header style="height:50px"></header>

<div class="tabbable tabs-left" >
  	<ul class="nav nav-tabs" style="width:35%;height:80%;">
  		{% for local in locaisColetaPag.object_list %}
			<li><a class="localColeta" id="{{local.id}}" href="#{{local.id}}" data-toggle="tab">
				{{local.descricao}}
				<br />
				{% for t in local.tipo.all %}
				
				<img src="medias/imagens/tipo{{t.id}}.png" style="width:20px;" legend="{{t.tipo}}" alt="{{t.tipo}}"/>

				{% endfor %}
			</a></li>
		{% endfor %}
		<div class="pagination pagination-centered" style="bottom:0px;">
			<ul>
				{% if locaisColetaPag.has_previous %}
		            <li><a href="?page={{ locaisColetaPag.previous_page_number }}"> << </a></li>
		        {% else %}
		        	<li class="disabled"><a> << </a></li>
		        {% endif %}		        

				{% if locaisColetaPag.has_next %}
		        	<li><a href="?page={{ locaisColetaPag.next_page_number }}"> >> </a></li>
	        	{% else %}
		        	<li class="disabled"><a> >> </a></li>
	        	{% endif %}
		    </ul>
		</div>	
  	</ul>
	<div id="chart" class="tab-content">

  	</div>	
</div> 
{% endblock %}