{% extends 'base.html' %}
{% block cabecalho %}
	<title>Coletas</title>
	<script type="text/javascript" src="medias/highcharts/js/highcharts.js"></script>
	<script type="text/javascript" src="medias/highcharts/js/modules/exporting.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {

			/**
			 * Grid theme for Highcharts JS
			 * @author Torstein Hønsi
			 */

			Highcharts.theme = {
			   colors: ['#0014ba', '#c60009', '#056d00', '#703e00', '#444', '#64E572', '#FF9655', '#FFF263', '#6AF9C4'],			  
			   title: {
			      style: {
			         color: '#000',
			         font: 'bold 16px "Trebuchet MS", Verdana, sans-serif'
			      }
			   },
			   subtitle: {
			      style: {
			         color: '#666666',
			         font: 'bold 12px "Trebuchet MS", Verdana, sans-serif'
			      }
			   },
			   xAxis: {
			      gridLineWidth: 1,
			      lineColor: '#000',
			      tickColor: '#000',
			      labels: {
			         style: {
			            color: '#000',
			            font: '11px Trebuchet MS, Verdana, sans-serif'
			         }
			      },
			      title: {
			         style: {
			            color: '#333',
			            fontWeight: 'bold',
			            fontSize: '12px',
			            fontFamily: 'Trebuchet MS, Verdana, sans-serif'

			         }
			      }
			   },
			   yAxis: {
			      minorTickInterval: 'auto',
			      lineColor: '#000',
			      lineWidth: 1,
			      tickWidth: 1,
			      tickColor: '#000',
			      labels: {
			         style: {
			            color: '#000',
			            font: '11px Trebuchet MS, Verdana, sans-serif'
			         }
			      },
			      title: {
			         style: {
			            color: '#333',
			            fontWeight: 'bold',
			            fontSize: '12px',
			            fontFamily: 'Trebuchet MS, Verdana, sans-serif'
			         }
			      }
			   },
			   legend: {
			      itemStyle: {
			         font: '9pt Trebuchet MS, Verdana, sans-serif',
			         color: 'black'

			      },
			      itemHoverStyle: {
			         color: '#039'
			      },
			      itemHiddenStyle: {
			         color: 'gray'
			      }
			   },
			   labels: {
			      style: {
			         color: '#99b'
			      }
			   }
			};

			// Apply the theme
			var highchartsOptions = Highcharts.setOptions(Highcharts.theme);

			var conteudo = document.getElementById("highcharts");

			$('.localColeta').click(function() {
				selecionado = this.id;
				$.get("/coletas", {id : this.id}, function(data) { 
					var json = JSON.parse(data);

					chart = new Highcharts.Chart({
			            chart: {
			                renderTo: 'chart'
			            },
			            title: {
			                text: 'Gráfico de Uso'
			            },
			            yAxis: {
			            	title: {
			            		text: 'Quantidade'
			            	}
			            },
			            xAxis: {
			                categories: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado']
			            },
			            series: [{
			                type: 'column',
			                name: 'Papel',
			                data: json['Papel']
			            }, {
			                type: 'column',
			                name: 'Plástico',
			                data: json['Plastico']
			            }, {
			                type: 'column',
			                name: 'Metal',
			                data: json['Metal/Vidro']
			            },{
			                type: 'column',
			                name: 'Orgânico',
			                data: json['Organico']
			            },{
			                type: 'column',
			                name: 'Não reciclável',
			                data: json['Nao Reciclavel']
			            },{
			                type: 'spline',
			                name: 'Total',
			                data: json['soma'],
			                marker: {
			                	lineWidth: 2,
			                	lineColor: Highcharts.getOptions().colors[3],
			                	fillColor: 'white'
			                }
			            }]
			        });
				});
			});
		});
	</script>
{% endblock %}

{% block corpo %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> 
            </a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li>
                        <a href="home" title="Página Inicial">Home</a>
                    </li>

                    <li>
                        <a href="/mapa" title="Mapa GeoColeta">Mapa</a>
                    </li>
                    <li class="active">
                        <a href="/coletas" title="Coletas">Coletas</a>
                    </li>
				</ul>
            </div>
        </div>
    </div>
</div>

<header style="height:50px"></header>

<div class="tabbable tabs-left" >
  	<ul class="nav nav-tabs" style="width:35%;height:80%;">
  		{% for local in locaisColetaPag.object_list %}
			<li><a class="localColeta" id="{{local.id}}" href="#{{local.id}}" data-toggle="tab">
				{{local.descricao}}
				<br />
				{% for t in local.tipo.all %}
				
				<img src="medias/imagens/tipo{{t.id}}.png" style="width:20px;" legend="{{t.tipo}}" alt="{{t.tipo}}"/>

				{% endfor %}
			</a></li>
		{% endfor %}
		<div class="pagination pagination-centered" style="bottom:0px;">
			<ul>
				{% if locaisColetaPag.has_previous %}
		            <li><a href="?page={{ locaisColetaPag.previous_page_number }}"> << </a></li>
		        {% else %}
		        	<li class="disabled"><a> << </a></li>
		        {% endif %}		        

				{% if locaisColetaPag.has_next %}
		        	<li><a href="?page={{ locaisColetaPag.next_page_number }}"> >> </a></li>
	        	{% else %}
		        	<li class="disabled"><a> >> </a></li>
	        	{% endif %}
		    </ul>
		</div>	
  	</ul>
	<div id="chart" class="tab-content">

  	</div>	
</div> 
{% endblock %}