{% extends 'base.html' %}
{% block cabecalho %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<title>Mapa</title>
	<style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      article { height: 100%; margin: 0; padding:0; }
      #map_canvas { width:100%; height:100%; }
    </style>
	<script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBhp-XEVy9T9yaht07LCj6SdwaztO0tVmc&sensor=true">
    </script>
	<script type="text/javascript">

		$(document).ready(function() {

			function setMarkers(map, locations) {
		        var image = new google.maps.MarkerImage('../medias/imagens/lixeira.png',
		            new google.maps.Size(32, 32),
		            new google.maps.Point(0,0),
		            new google.maps.Point(0, 32));

		        var shape = {
		            coord: [1, 1, 1, 32, 30, 32, 30, 1],
		            type: 'poly'
		        };

		        var contentString = '';

		        for (var i = 0; i < locations.length; i++) {
		          var lixeira = locations[i];
		          if(typeof lixeira.data == 'undefined') {
		          	var descricao = lixeira.descricao + "<br /><b>Tipos:</b><br />" + lixeira.tipo;
		          } else {
		          	var descricao = lixeira.data + " - " + lixeira.localColeta + "<br /><b>Tipo: </b>" + lixeira.tipo;
		          	if(lixeira.tipo == 'Papel') {
			          	image = new google.maps.MarkerImage('../medias/imagens/marker1.png',
			            	new google.maps.Size(32, 32),
			            	new google.maps.Point(0,0),
			            	new google.maps.Point(0, 32));
		          	} else if(lixeira.tipo == 'Plastico') {
			          	image = new google.maps.MarkerImage('../medias/imagens/marker2.png',
			            	new google.maps.Size(32, 32),
			            	new google.maps.Point(0,0),
			            	new google.maps.Point(0, 32));
		          	} else if(lixeira.tipo == 'Metal/Vidro') {
			          	image = new google.maps.MarkerImage('../medias/imagens/marker3.png',
			            	new google.maps.Size(32, 32),
			            	new google.maps.Point(0,0),
			            	new google.maps.Point(0, 32));
		          	} else if(lixeira.tipo == 'Organico') {
			          	image = new google.maps.MarkerImage('../medias/imagens/marker4.png',
			            	new google.maps.Size(32, 32),
			            	new google.maps.Point(0,0),
			            	new google.maps.Point(0, 32));
		          	} else if(lixeira.tipo == 'Nao Reciclavel') {
			          	image = new google.maps.MarkerImage('../medias/imagens/marker5.png',
			            	new google.maps.Size(32, 32),
			            	new google.maps.Point(0,0),
			            	new google.maps.Point(0, 32));
		          	}
		          }
  		          var myLatLng = new google.maps.LatLng(lixeira.latitude, lixeira.longitude);
		          var marker = new google.maps.Marker({
		              position: myLatLng,
		              map: map,
		              icon: image,
		              shape: shape,
		              title: descricao,
		              zIndex: i+1
		          });

		          var infowindow = new google.maps.InfoWindow({
		              content: contentString
		          });
		          google.maps.event.addListener(marker, 'click', function() {
		      	      infowindow.setContent(this.title);
		      	      infowindow.open(map, this);
		          });
		        }
		      }

			var mapOptions = {
				zoom: 18,
				center: new google.maps.LatLng(-21.22734708340924, -43.76363149344025), // ponto central do mapa
				mapTypeId: google.maps.MapTypeId.SATELLITE // Imagem de satélite
			}
			var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

			document.getElementById("map_canvas").innerHTML = map;

			var lixeiras = {{dados|safe}};

			setMarkers(map, lixeiras);

			var periodo;
			var coleta;
		
			$('#btt_filtrar').click(function(){
				periodo = $('#id_periodo').val();
				coleta = $('#id_coleta').val();
				if(coleta == '') {
					alert('Selecione um tipo de material');
					return false;
				} else {
					return true;
				}
				
			});
		});

	</script>
{% endblock %}

{% block corpo %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> 
            </a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li>
                        <a href="home" title="Página Inicial">Home</a>
                    </li>
                    <li class="active">
                        <a href="/mapa" title="Mapa GeoColeta">Mapa</a>
                    </li>
                    <li>
                        <a href="/coletas" title="Coletas">Coletas</a>
                    </li>
				</ul>
					<form class="navbar-form pull-right" method="POST" action="">
						{% csrf_token %}
						{{ formFiltro.periodo }}
						{{ formFiltro.coleta }}
						<button class="btn" id="btt_filtrar" type="submit">Filtrar</button>
					</form>
					
            </div>
        </div>
    </div>
</div>
<div id="map_canvas"></div>
{% endblock %}
