<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    </style>
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true">
    </script>
    <script type="text/javascript">
		$(document).ready(function(){
	        var mapOptions = {
	          center: new google.maps.LatLng(-21.22734708340924, -43.76363149344025),
	          zoom: 18,
	          mapTypeId: google.maps.MapTypeId.SATELLITE
	        };
	        var map = new google.maps.Map(document.getElementById("map_canvas"),
	            mapOptions);

	        var marker = new google.maps.Marker({
                position: map.getCenter(),
                map: map,
                title: "Reposicionar lixeira",
                icon: new google.maps.MarkerImage("/static/img/user.png")
            });
            marker.setDraggable (true);

            google.maps.event.addListener(marker, "dragend", function(event) {
                var point = marker.getPosition();
                map.panTo(point);
            });
			
			var URL_AJAX = "/app/gerar";
	        $('#plastico').click(function(){
	        	$.get(URL_AJAX + "?lat=" + map.center.lat() + "&lng=" + map.center.lng() + "&tipo=0&data=" + $('#data').val(), function(dados){
				});
	        });
	        $('#papel').click(function(){
	        	$.get(URL_AJAX + "?lat=" + map.center.lat() + "&lng=" + map.center.lng() + "&tipo=1&data=" + $('#data').val(), function(dados){
				});
	        });
	        $('#vidro-metal').click(function(){
	        	$.get(URL_AJAX + "?lat=" + map.center.lat() + "&lng=" + map.center.lng() + "&tipo=2&data=" + $('#data').val(), function(dados){
				});
	        });
	        $('#organico').click(function(){
	        	$.get(URL_AJAX + "?lat=" + map.center.lat() + "&lng=" + map.center.lng() + "&tipo=3&data=" + $('#data').val(), function(dados){
				});
	        });
	        $('#nao-reciclavel').click(function(){
	        	$.get(URL_AJAX + "?lat=" + map.center.lat() + "&lng=" + map.center.lng() + "&tipo=4&data=" + $('#data').val(), function(dados){
				});
	        });
	    });
    </script>
  </head>
  <body style="padding: 15px">
    <div id="map_canvas" style="width:100%; height:300px"></div>
    <div><br><br>
		<input type="button" value="Plastico" id="plastico"><br>
		<input type="button" value="Papel" id="papel"><br>
		<input type="button" value="Vidro/Metal" id="vidro-metal"><br>
		<input type="button" value="Organico" id="organico"><br>
		<input type="button" value="Não reciclavel" id="nao-reciclavel"><br>
		<input type="text" id="data" value="10 10 2012">
    </div>
  </body>
</html>