{% extends "mobile_app/ajax_base.html" %}

{% block content %}

<div data-role="controlgroup" data-type="horizontal" style="margin-left: 20px">
	<a href="#" data-role="button">Mês</a>
	<a href="#" data-role="button">Ano</a>
	<a href="#" data-role="button" class="ui-btn-active">Total</a>
</div>

<div id="container" style="min-width: 260px; height: 400px; margin: 0 auto;"></div>

<script type="text/javascript">
$(function () {
        $('#container').highcharts({
            chart: {
                type: 'bar',
                backgroundColor: ''
            },
            title: {
                text: '634 requisições'
            },

            xAxis: {
                categories: ['DOM', 'SEG', 'TER', 'QUA', 'QUI', 'SEX', 'SAB'],
                title: {
                    text: null
                }
            },
            yAxis: {
                //min: 0,
                /*title: {
                    text: 'Requisições',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }*/
            },
            tooltip: {
                valueSuffix: ' requisições'
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                layout: 'horizontal',
                verticalAlign: 'bottom',
                y: 25,
                floating: true,
                borderWidth: 1,
                backgroundColor: '#FFFFFF',
                shadow: true
            },
            /*
			legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -100,
                y: 100,
                floating: true,
                borderWidth: 1,
                backgroundColor: '#FFFFFF',
                shadow: true
            },
            */
            credits: {
                enabled: false
            },
            series: [{
                name: 'Papel',
                data: [107, 31, 635, 203, 2, 100, 10]
            }, {
                name: 'Plástico',
                data: [133, 156, 947, 408, 6, 5, 10]
            }, {
                name: 'Metal/Vidro',
                data: [973, 914, 50, 732, 34, 100, 350]
            }, {
                name: 'Orgânico',
                data: [973, 914, 50, 732, 34, 100, 350]
            }, {
                name: 'Não-Reciclável',
                data: [973, 914, 50, 732, 34, 100, 350]
            }

            ]
        });
    });
    

</script>

{% endblock %}