{% extends "mobile_app/ajax_base.html" %}

{% block content %}

<div data-role="controlgroup" data-type="horizontal" style="margin-left: 20px">
    <a href="#" data-role="button">Mês</a>
    <a href="#" data-role="button">Ano</a>
    <a href="#" data-role="button" class="ui-btn-active">Total</a>
</div>

<div id="container" style="min-width: 275px; height: 400px; margin: 0 auto;"></div>

<script type="text/javascript">
$(function () {
        $('#container').highcharts({
            chart: {
                type: 'column',
                backgroundColor: '',
            },
            exporting: { enabled: false },
            title: {
                text: '86 requisições'
            },
            xAxis: {
                categories: ['DOM', 'SEG', 'TER', 'QUA', 'QUI', 'SEX', 'SAB']
            },
            yAxis: {
                min: 0,
                title: {
                    text: false
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        //color: ''
                    }
                },
                lineWidth: 0,
                minorGridLineWidth: 0,
                lineColor: 'transparent',
                labels: {
                    enabled: false
                },
                minorTickLength: 0,
                tickLength: 0,
            },
            legend: {
                align: '',
                //x: -100,
                verticalAlign: 'bottom',
                align: 'center',
                //y: 20,
                //floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColorSolid) || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                formatter: function() {
                    return false
                }
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                    }
                }
            },
            credits: {
                enabled: false
            },
            colors: ['#9d2c29', '#0014ba', '#056d00', '#703e00', '#666666'],
            series: [{
                name: 'Plástico',
                data: [5, 3, 4, 7, 2, 3]
            }, {
                name: 'Papel',
                data: [2, 2, 3, 2, 1, 8, 1]
            }, {
                name: 'Vidro/Metal',
                data: [2, 2, 3, 2, 1, 1, 3]
            }, {
                name: 'Orgânico',
                data: [2, 2, 3, 2, 1, 2, 4]
            }, {
                name: 'Não-reciclável',
                data: [3, 4, 4, 2, 5, 1, 5]
            }]
        });
    });
    

</script>

{% endblock %}