{% extends "mobile_app/ajax_base.html" %}

{% block content %}

<div class="dynamic">

	<ul data-role="listview">
		<li>
			<a href="#">
				<h2 style="white-space:normal">Reunião A3P</h2>
				<p style="white-space:normal">
					Na noite de ontem, dia 04 de julho de 2013, a 1ª Mostra de Dança dos Alunos do Curso Superior de Licenciatura em Educação Física do Câmpus Barbacena empolgou o público presente. Os alunos de todos os períodos do Curso Superior de Licenciatura em Educação Física do Câmpus Barbacena elaboraram e executaram  "A Dança ao longo das décadas".
				</p>
				<p class="ui-li-aside">12/09/2013</p>
			</a>
		</li>
	</ul>
	<ul data-role="listview">
		<li>
			<a href="#">
				<h2 style="white-space:normal">Festival de Inverno</h2>
				<p style="white-space:normal">
					Os alunos de todos os períodos do Curso Superior de Licenciatura em Educação Física do Câmpus Barbacena elaboraram e executaram  "A Dança ao longo das décadas". Na noite de ontem, dia 04 de julho de 2013, a 1ª Mostra de Dança dos Alunos do Curso Superior de Licenciatura em Educação Física do Câmpus Barbacena empolgou o público presente.
				</p>
				<p class="ui-li-aside">12/09/2013</p>
			</a>
		</li>
	</ul>
</div>

{% endblock %}