{% extends "mobile_app/ajax_base.html" %}

{% block content %}

<div id="my-wrapper" class="dynamic">
	<ul data-role="listview" data-filter="true" data-filter-placeholder="Buscar">

		{% for coletor in coletores %}
			<li>
				<a href="#"
					onclick="map.setCenter(new google.maps.LatLng({{ coletor.latitude }}, {{ coletor.longitude }})); $('#panel').panel('close');">
					<h2>{{ coletor.descricao }}</h2>
					<p>
						{% for tipo in coletor.tipo.all %}
							<span class="tipo_lixo">
								{{ tipo.tipo }}
							</span>
						{% endfor %}
					</p>
				</a>
			</li>
		{% endfor %}

	</ul>
</div>

{% endblock %}