<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}GeoColeta{% endblock %}</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

        <link rel="stylesheet" href="/static/css/jquery-mobile/jquery.mobile-1.3.1.min.css" />
        <link rel="stylesheet" href="/static/css/style.css" />
    </head>
    <body>

        <div data-role="page" class="page">

            <div id="panel" data-role="panel" data-display="overlay" data-theme="c" data-position-fixed="true">

                <ul id="main_list" data-role="listview" data-theme="d">
                
                    <li data-icon="arrow-l" data-theme="a"><a href="#" data-rel="close"><strong>Geo</strong>Coleta</a></li>

                    <li data-icon="refresh">
                        <a id="opt_atualizar" href="#">
                            <img class="ui-li-icon" src="/static/img/geo-icon.png" />
                            Atualizar localização
                        </a>
                    </li>
                    
                    <li data-icon="grid">
                        <a id="opt_infra" href="#">
                            <img class="ui-li-icon" src="/static/img/infra-icon.png" />
                            Infraestrutura
                        </a>
                    </li>
                    
                    <li data-icon="false">
                        <a id="opt_locais" href="#">
                            <img class="ui-li-icon" src="/static/img/trash-icon.png" />
                            Locais de Coleta
                            <span class="ui-li-count">27</span>
                        </a>
                    </li>

                    <li data-icon="false">                        
                        <a id="opt_noticias" href="#">
                            <img class="ui-li-icon" src="/static/img/news-icon.png" />
                            Notícias <span class="ui-li-count">3</span>
                        </a>
                    </li>

                    <li data-role="list-divider" data-theme="c">
                        Estatísticas do Aplicativo
                    </li>

                    <li>
                        <a id="opt_descartes" href="#">
                            <h2>Descartes</h2><p>Requisições realizadas no GeoColeta</p>
                        </a>                        
                    </li>

                    <li>
                        <a id="opt_coletores" href="#">
                            <h2>Coletores</h2><p>Utilização dos pontos de coleta seletiva</p>
                        </a>
                    </li>

                </ul>
                
                <a data-theme="d" style="margin-top: 35px" href="#" data-rel="close" data-role="button">Fechar painel</a>

            </div>

            <div data-role="header" data-theme="c" data-position="fixed">
                <h1>GeoColeta</h1>
                <a href="#panel" data-icon="bars" data-iconpos="notext"></a>
                <a href="#response" data-position-to="window" data-rel="popup" data-icon="info" data-iconpos="notext" data-transition="slidedown"></a>
            </div>
            
            <div data-role="popup" id="response" style="padding: 15px">
                <h2>GeoColeta</h2>
                <p style="font-size: 12px; text-align: justify; margin-top: -10px; margin-bottom: 10px"><em>Sistema de Informação Geográfica para gerência e incentivo ao Processo de Coleta Seletiva.</em></p>
                <p style="font-size: 12px"><strong>Versão:</strong> 0.1.0</p>
                <p style="font-size: 12px"><strong>Desenvolvimento:</strong> Núcleo de Informática</p>
                <p style="font-size: 12px"><strong>Coordenador:</strong> Prof. Rafael José de Alencar Almeida</p>
                <a href="#" data-rel="back" data-role="button" data-theme="d" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
            </div>

            <div data-role="content" class="content">
                <div id="map-canvas"></div>
            </div>

           <div data-role="footer" data-theme="c" data-position="fixed" data-tap-toggle="false">
                <div data-role="navbar">
			        <ul>
				         <li><a href="#" data-icon="lixo-plastico">Plástico</a></li>
				         <li><a href="#" data-icon="lixo-papel">Papel</a></li>
				         <li><a href="#" data-icon="lixo-vidro">Vidro/Metal</a></li>
				         <li><a href="#" data-icon="lixo-organico">Orgânico</a></li>
				         <li><a href="#" data-icon="lixo-nreciclavel">Não Reciclável</a></li>
			        </ul>
		        </div>
           </div>

        </div>

        <script src="/static/js/jquery-1.9.1.min.js"></script>
        <script src="/static/js/jquery.mobile-1.3.1.min.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&sensor=true"></script>
        <script src="/static/js/script.js"></script>
    </body>
</html>
