.console {
    background: #292f34;
    color: white;
    font-size: 1.0em;
    text-align: center;
}

li {
    padding-top: 128px !important;
    padding-bottom: 128px !important;
}

#touchevents .list li:not(.anchor) {
    padding: 64px 8px;
}

#article_menu{
    overflow-y: auto;
    width: 255px;
}

::-webkit-scrollbar { 
    display: none; 
}

#scroll h1 {
    line-height: 44px;
    background: black;
    color: white;
    text-indent: 10px;
}

#scroll img {
    min-width: 256px;
    min-height: 128px;
    background: #333;
}
#scroll .anchor img {
    width: 100%;
    margin-bottom: 4px;
}
#scroll .horizontal img {
    height: 100%;
    margin-right: 4px;
}

#map-canvas{
    position: absolute;
    width: 100%;
    height: 85%;
    padding: 0;    
}

.res_1 {
  box-shadow: inset 0 4px #214f83;
}

.res_2 {
  box-shadow: inset 0 4px #900;
}

.res_3 {
  box-shadow: inset 0 4px #006654;
}

.res_4 {
  box-shadow: inset 0 4px #993300;
}

.res_5 {
  box-shadow: inset 0 4px #666;
}

nav#descarte a{
  color: #080808;
  font-size: 13px;
  text-shadow: 1px 1px #999;
  border-right: solid 1px #c7c2ba;
}

.sep{
  background-color: #252525;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  border-bottom: solid 1px #262626;
}

.titulo_window{
  font-size: 16px;
  text-shadow: 1px 1px #ddd;
  margin-bottom: 8px;
}

a li strong, li a strong{
  font-weight: bold;
  color: #a2a2a2;
}

aside .list li small {
  color: #717171;
}

.link-social{
  text-decoration: underline;
  margin-left: 3px;
}

.descricao{
  display: block;
  text-align: justify;
}

.descricao a{
  text-decoration: underline;;
}
